@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');

.cc-logo
  background-color white
  mask-image: url('/media/logo_cc.svg')
  mask-size: contain
  mask-repeat: no-repeat
  mask-position: center
  height: 0.3965em
  width: 1em
  font-size: 16em

.tiktok-icon
  mask-image: url('/media/tiktok.svg')
  mask-size: contain
  mask-repeat: no-repeat
  mask-position: center
  height: auto
  width: 1rem


.v-card__text, .v-card__title {
  word-break: normal; /* maybe !important  */
}
